# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/out-tsc
dist
tmp

# dependencies
node_modules

# IDEs and editors
.c9/
.classpath
.project
.settings/
*.launch
*.sublime-workspace
/.idea

# IDE - VSCode
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vscode/*

# misc
.nx/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
npm-debug.log
testem.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# Next.js
.next
out
